body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #0c080c;
    padding-top: 70px;
  }
  
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #cfc2cf;
    box-shadow: 0 0 5px rgba(236, 182, 238, 0.1);
    text-align: center;
  }
  

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}
  .menu-item {
   color: #F8A4D8,#6C63FF;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   border-radius: 10px;
  }
  
  .menu-item:hover {
    background-color: #F8A4D8,#6C63FF;
    transition: all 0.4s ease-in-out;
  }
  
  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {background: #eee;}
  
  .aboutme { color: rgb(94, 76, 160);}
  .skills {color: rgb(21, 18, 170);}
  .experience {color: rgb(95, 37, 19);}
  .projects {color: rgb(102, 87, 39);}
  .contact {color: rgb(94, 76, 160);}
  
  
  header {
    background-color: #44184d;
    color: #f7ebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  section {
    padding: 20px;
    border: 1px solid #e9e9e9;blur
    margin-bottom: 20px;
  }
  
  #skills ul {
    
    list-style: none;
    padding: 0;
    
  }
  
  #skills li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #8f2d7a;
    border-radius: 20px;
    margin-right: 10px;
    
  }
  
  .contenedor {
    display: flex;
    justify-content: space-between;
  }

  .div-1 {
    background-color: #ffffff;
    width:200px;
    padding:5px;
    border-radius: 20px;
    margin-left: 35px; 
  }
  .div-2 {
    background-color: #ffffff;
    width:200px;
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
  }
  .div-3 {
    background-color: #ffffff;
    width:200px;
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
  }
  .div-4 {
    background-color: #ffffff;
    width:200px;
    padding: 5;
    border-radius: 20px;
    margin-left: 20px;
  }
  .div-5 {
    background-color: #ffffff;
    width:200px;
    padding: 5;
    border-radius: 20px;
    margin-left: 20px;
  }
  .div-6 {
    background-color: #ffffff;
    width:200px;
    padding: 5;
    border-radius: 20px;
    margin-left: 20px;
  }
  .div-7 {
    background-color: #ffffff;
    width:200px;
    padding: 5;
    border-radius: 20px;
    margin-left: 20px;
  }
  .div-8 {
    background-color: #ffffff;
    width:200px;
    padding: 5;
    border-radius: 20px;
    margin-left: 20px;
  }

  
  #experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #experience ul li {
    margin-bottom: 10px;
  }
  
  
  #projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #projects a {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #490f4b;
  }
  
  #projects a:hover {
    text-decoration: underline;
  }

  #contact ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
  }
  
  #contact li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
  }

  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
  }
  
  #social {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  #social li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    
    font-size: 30px;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: 5px;
  }
  
  /* Instagram */
  .fa-instagram {
    background: #dd2490;
    color: white;
    padding: 5px;
  }
  /* Linkedin */
  .fa-linkedin {
    background: #434494;
    color: white;
    padding: 5px;
  }
  /* Github */
  .fa-github {
    background: #010207;
    color: white;
    padding: 5px;
  }
  /* Whatsapp */
  .fa-whatsapp {
    background: #0cce46;
    color: rgb(235, 241, 237);
    padding: 5px;
  }
  